body {
    background-color: var(--primary-color);
}

div.card {
    border-radius: 55px 55px 0 0;
    /*padding: 60px 10px 10px 5px;*/
    min-height: 70vh;
}

main.container-fluid {
    padding: 0;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

footer {
    background-color: var(--bs-body-bg);
}