body {
    background-color: var(--primary-color);
}

main.container-fluid {
    padding: 0;
}

div.card {
    border-radius: 55px;
}

footer {
    background-color: var(--primary-color);
}

@media  (min-width: 992px){
    div.row {
        margin-top: 9vh;
    }
}