div.card {
    border-radius: 55px 55px 0 0;
}
body{
    overflow-y: scroll !important;
}

footer {
    background-color: var(--bs-body-bg);
}

div.col-12 {
    padding: 0;
}

@media(min-width: 992px) {
    footer {
        background-color: var(--primary-color);
    }
    div.card>form {
        margin: 20px 70px;
    }
    div.card {
        border-radius: 55px;
    }
}