@media(min-width: 992px) {
    div.col-2>img{
        width:150px;
        height:150px;
        display: block;
    }

    div.items>h3{
        font-size:120%;

    }
    div.items{
        margin-left:30%;
    }
   
}
div.col-2>img{
    width:150px;
    height:150px;
    display: block;
}

div.items{
    float:right;
    margin-left:30%;
}
div.items>p{
    float:right;
    width:100%
}

