:root {
    --primary-color: #E8B446;
    --text-color: #0e555c;
    --button-bg-color: #2c858d;
    --fill-color: #F4F4F4;
    --badge-color: #2A1468;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: var(--bs-body-bg);
    width: 100%;
    margin-top: auto;
}

.btn-link{
    padding: 0 0 0 0 !important;
}

a, p, strong, h1, h2, h3, h4, h5, h6, span, label{
    color: var(--text-color) !important;
}

a.btn {
    color: #FFF!important;
}

span.badge {
    background-color: var(--badge-color) !important;
    color: #fff !important;
}

nav, .bg-menu-color{
    background-color: var(--primary-color);
}

nav>button {
    border-width: 0;
    border-style: hidden;
}

.navbar-toggler {
    border: 0px none transparent !important;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

nav .badge {
    font-size: 8pt;
}

nav a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.navbar-brand > img{
    max-height: 50px !important;
}

.name-circle {
    background: var(--button-bg-color);
    border-radius: 40px;
    color: white;
    height: 40px;
    font-weight: bold;
    width: 40px;
    display: table;
    margin: 0 0 5% 5%;
}
.name-circle > p{
    /*vertical-align: middle;*/
    text-align: center;
    padding-top: 5px;
    display: table-cell;
}
.btn-link{
    min-width: fit-content;
}

.input-group{
    min-width: 300px;
}
.popover-body{
    background-color: var(--fill-color);
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 991.99px) {
    .offcanvas-collapse {
        top: 0;
        left: 0;
        right: 25%;
        width: 400 px;
        height: 100%;
        border-right: 1 px solid rgba(0, 0, 0, .2);
        transform: translateX(-101%);
        position: fixed;
        bottom: 0;
        z-index: 1045;
        display: flex;
        flex-direction: column;
        max-width: 100%;
        /* visibility: hidden; */
        background-color: #fff;
        background-clip: padding-box;
        outline: 0;
        transition: transform .3s ease-in-out;
    }
    .offcanvas-collapse.open {
        transform: none;
    }
    .offcanvas-header {
        justify-content: flex-end !important;
    }
    .offcanvas-collapse-body {
        height: 100%;
    }
    .navbar-collapse {
        align-items: unset !important;
    }
    .navbar-brand {
        margin-left: 10px;
    }
    .navbar-toggler {
        color: black !important;
    }
    .mobile-hidden {
        display: none !important;
    }
    .nav-item{
        margin-left: 3%;
    }
    .sidebar-account {
        /*position: fixed;*/
        top: auto;
        bottom: 20px;
    }
}
