div.card>p {
    font-size: 30pt;
    font-weight: bold;
}

span.fa-check-circle {
    color: #008B38!important;
}

div.card>img {
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}